@import "tailwindcss";

@theme {
  --color-primary: #5bc4fb;
  --color-secondary: #ddbaf5;
  --color-accent1: #7e91c0;
  --color-accent2: #d4cae2;
  --color-dark1: #035681;
  --color-dark2: #3f3855;

  --font-nunito: "Nunito", sans-serif;
  --font-overpass: "Overpass", sans-serif;
}

/* Optional scrollbar hide utility */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}